[submodule "exts/eastl"]
	path = exts/eastl
	url = https://github.com/gscept/EASTL.git
[submodule "exts/glslang"]
	path = exts/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "exts/glew"]
	path = exts/glew
	url = https://github.com/gscept/glew.git
[submodule "exts/vulkan"]
	path = exts/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Docs.git
